
@import 'variables';

.layout-post-list {
  padding-top: 15px;
  box-sizing: border-box;
  max-width: 550px;
  width: fit-content;

  // contain floating children
  &:after {
    display: table;
    clear: both;
    content: '';
  }

  .mod-post {
    float: right; // make only as wide as necessary
    margin-top: 10px;
  }

  .comp-post-date {
    float: left; // float because other we can't use margins to push away posts and statuses
    width: 100%;
    margin-top: 16px;
  }

  .comp-post-status {
    float: right;
    margin: 5px 0;
  }

  .mod-post,
  .comp-post-date,
  .comp-post-status {
    clear: both;
  }

  .mod-post.photoset {
    width: 100%;
  }

  .comp-post-status ~ .comp-post-status {
    display: none;
  }

  @for $date from 1 through 31 {
    .comp-post-date[data-date="#{$date}"] + .mod-post + .comp-post-status + .comp-post-date[data-date="#{$date}"],
    .comp-post-date[data-date="#{$date}"] + .mod-post + * + .comp-post-status + .comp-post-date[data-date="#{$date}"] {
      display: none;
    }
  }
}
