
@import 'variables';

.layout-wrapper {
  margin: 0 auto;
  padding: 33px;
  padding-top: 0;//$layout-header-height + 33px;
  width: -webkit-fit-content;
  width:    -moz-fit-content;
  width:         fit-content;

  @media screen and ( max-width: 480px ) {
    $padding: 16px;

    padding-left:  $padding;
    padding-right: $padding;
  }
}

