
@import 'variables';

.mod-post {

  background-color: $post-background-color-bottom;
  background-image: linear-gradient( to top, $post-background-color-bottom, mix( $post-background-color-top, $post-background-color-bottom, 23% ));
  border-radius: 17px;
  color: white;
  overflow: visible; // reveal pointer
  position: relative; // facilitate absolute positioning of pointer (:before)

  &:before {
    content: '';
    display: block;
    position: absolute;
    width:  14px;
    height: 14px;
    right:  -6px;
    bottom:  0;
    background-size: auto auto;
    background-image: url( http://static.rubenswieringa.com/tumblr/imessage-pointer.svg );
    background-repeat: no-repeat;
  }

  > .mod-post-body {
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    z-index: 1; // on top of pointer (:before)
  }
}
