<header class="layout-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">

  <time class="clock"><script src="/partials/clock.js"></script></time>

  <a class="link" href="/">{Title}</a>

  <script src="/partials/battery.js"></script>

</header>
