<head>

  <meta name="if:Infinite Scrolling" content="1">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>

  {block:IndexPage}

    {Title} | {PlaintextDescription}

  {/block:IndexPage}

  {block:PermalinkPage}

    {block:PostSummary}

      {Title} | {PlaintextPostSummary}

    {/block:PostSummary}

  {block:PermalinkPage}

  {block:SearchPage}

    {Title} | {lang:Search results for SearchQuery}

  {/block:SearchPage}

  </title>

  {block:Description}

    <meta name="description" content="{MetaDescription}">

  {/block:Description}

  {block:GoogleSiteVerification}

    <meta name="google-site-verification" content="{text:GoogleSiteVerification}">

  {/block:GoogleSiteVerification}

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{Title}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <meta name="theme-color" content="#fff">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family={font:Headings}">
  <link rel="stylesheet" href="/styles.css">

  <style>

    {CustomCSS}

  </style>

  <link rel="shortcut icon" href="{Favicon}">
  <link rel="icon" href="{PortraitURL-128}">
  <link rel="apple-touch-icon-precomposed" href="{PortraitURL-128}">
  <link rel="alternate" type="application/rss+xml" href="{RSS}">

  {block:PermalinkPage}

    {block:Posts}

      {block:Date}

        <link rel="canonical" href="{Permalink}">
        <link rel="shortlink" href="{ShortURL}">

      {/block:Date}

    {/block:Posts}

  {/block:PermalinkPage}

  <script src="/script.js"></script>

</head>
