{block:Panorama}

<div class="mod-post media" id="post-{PostID}">

  <figure class="mod-post-body photo" itemprop="articleBody">

    <img class="image"
         src="{PhotoURL-HighRes}"
         alt="{PhotoAlt}"
         data-post-id="{PostID}"
         data-blog-id="{Name}"
         onclick="openImage(this, event, null, true)" />

    <figcaption class="caption">{block:Caption}{Caption}{/block:Caption}<%- include('../tags'); %></figcaption>

  </figure>

</div>

{/block:Panorama}
