{block:Photoset}

<div class="mod-post media" id="post-{PostID}">

  <figure class="mod-post-body photoset" itemprop="articleBody">

    {Photoset}

    <figcaption class="caption">{block:Caption}{Caption}{/block:Caption}<%- include('../tags'); %></figcaption>

  </figure>

</div>

{/block:Photoset}
