{block:Text}

<div class="mod-post" id="post-{PostID}">

  <article class="mod-post-body text" itemprop="articleBody description">

    {block:Title}

      <h2 class="title" itemprop="name headline" itemprop="url">{Title}</h2>

    {/block:Title}

    {Body}

    <%- include('../tags'); %>

    <a class="permalink" href="{Permalink}" title="{lang:Link post}">permalink</a>

  </article>

</div>

{/block:Text}