{block:Text}

  <article class="mod-post-body text" itemprop="articleBody description">

    {block:Title}

      <h2 class="title" itemprop="name headline" itemprop="url">{Title}</h2>

    {/block:Title}

    {Body}

    <p> <a href="{Permalink}" title="{lang:Link post}">permalink</a></p>

  </article>

{/block:Text}