{block:Video}

<div class="mod-post media" id="post-{PostID}">

  <figure class="mod-post-body video" itemprop="articleBody">

    <div class="video">
      {Video-700}
    </div>

    <figcaption class="caption">{block:Caption}{Caption}{/block:Caption}<%- include('../tags'); %></figcaption>

  </figure>

</div>

{/block:Video}
