
@import 'media';

.mod-post-body.photoset {

  @extend %mod-media-post-body;

  .image-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .image-container {
    width: 100%;

    &.half {
      width: 50%;
    }

    &.third {
      width: 33%;
    }
  }

  .image {
    display: block;
    width:  100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
